
@{
    ViewBag.Title = "Empresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div class="app-page-title">
    <div class="row">
        <div class="col-12">
            <h4>
                <i style="margin-right:7px" class="fa fa-users"></i> Empresa
            </h4>
        </div>
        <nav class="col-12" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><i class="fa fa-home"></i> <a href="@Url.Action("Principal", "Seguridad")">Principal</a></li>
                <li class="breadcrumb-item active" aria-current="page"><i class="fa fa-users"></i> Empresa</li>
            </ol>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group pull-right">
            <a class="btn btn-info" id="btnNuevo" href="@Url.Action("CreateEmpresa", "Seguridad")"><i class="fa fa-plus"></i>  Nuevo</a>
        </div>
    </div>
</div>
<div class="card cont">
    <div class="table-responsive" id="dvCliente">
        <table class="table table-striped table-bordered" style="width:100%" id="tbEmpresa">
            <thead>
                <tr style="border:1px;">
                    <th>Ruc</th>
                    <th>Razon Social</th> 
                    <th>Direccion</th>
                    <th>Correo</th>
                    <th>Telefono</th>
                    <th>Departamento</th>
                    <th>Provincia</th>
                    <th>Distrito</th>
                    <th>Pagina web</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    @*------- MODAL --------------*@
    <div class="modal fade animate__animated animate__fadeInDown" id="ModalNuevo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Almacén</h5>
                    <input type="hidden" id="hdfId" />
                    <button type="button" class="close animate__animated animate__fadeOutUp" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">


                        <div class="col-lg-6 col-12">
                            <label>Sucursal</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <select type="text" class="form-control" id="lstSucursal" name="lstSucursal"></select>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-12">
                            <label>Nombre</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtNombre">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-12">
                            <label>Telefono</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtTelefono">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6 col-12">
                            <label>Direccion</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control input-sm no-null" id="txtDireccion">
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-4 col-12">
                            <label>Departamento</label>
                            <div class="form-group">
                                <select class="form-control" style="width: 100%" id="lstDepartamento" name="lstDepartamento"> </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <label>Provincia</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <select type="text" class="form-control" id="lstProvincia" name="lstProvincia"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <label>Distrito</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <select type="text" class="form-control" id="lstDistrito" name="lstDistrito"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary " data-dismiss="modal" id="cerrarpx">cancelar</button>
                        <button type="button" id="btnGrabar" class="btn btn-primary">Grabar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript" src="~/assets/scripts/page/Mantenimiento/Empresa.js"></script>
}